<div class="bg-dark">
    <share-buttons theme="circles-dark"
        [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line',
        'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr',
        'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
        [showIcon]="true"
        [showText]="false"
        url="https://rodrigo.kamada.com.br/"
        description="Angular Share Buttons"
        twitterAccount="rodrigokamada"
        class="pt-5">
    </share-buttons>
</div>
<br>
<div style="background-color: red; height: 100px;">
    <h3 class="text-center">Facebook</h3>
    <fb-like href="http://localhost:4200/" target="_top">Facebook Like</fb-like>
    <br>
    <fb-comments target="_top">Comment</fb-comments>
    <fb-video href="" target="_top">Video</fb-video>
    
</div>